:root {
  --white: #E8EAED;
  --gray: #A6ACAF;
  --black: #111111;
  --black2: #161616;
  --red: #8D4A40;
}

html {
  font-size: 62.5%;
  font-family: 'Bebas Neue', cursive;
  /* font-family: 'Unica One', cursive; */
  background-color: var(--black);
  /* filter: invert(1); */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--black);
}

img {
  height: 4rem;
}

/* HEADER */
.headerContainer {
  width: 100vw;
}

.header-container--long {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.35) 19.27%, rgba(0, 0, 0, 0) 29.17%), url(https://pics.filmaffinity.com/Deadpool-777527803-large.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  width: 100% ;
}

.header_arrow {
  height: auto;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  padding: 1rem;
  border: .1rem solid var(--gray);
  background-color: var(--black);
}

.header_arrow-button {
  font-size: 2.8rem;
  color: var(--white);
  border: none;
  background: transparent;
  padding: 0 1rem;
  border-right: .2rem solid var(--white);
}

.header_arrow-span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}

.header_arrow-span a {
  color: var(--white);
}

.header_articule {
  width: 95%;
  height:4rem;
  margin: 1rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_articule section {
  margin: 2rem;
}

.header_articule_Sleft-title {
  color: var(--red);
  font-family: 'Unica One', cursive;
  font-size: 1.4rem;
}

.header_articule_Sleft-title--categoryView {
  color: var(--red);
  font-family: 'Unica One', cursive;
  font-size: 1.4rem;
}

.header_articule_Sleft-text {
  color: var(--white);
  letter-spacing: .1rem;
  font-size: 1rem;
}

.header_articule_sRight-image {
  border-radius: 50%;
}

/* SEARCH */ 
.searchContainer {
  height: 4rem;
  width: 100%;
}

.searchContainer_content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem;
  background-color: var(--black2);
  border-radius: 2rem;
}

.searchContainer_content i {
  font-size: 2rem;
  color: var(--white);
}

.searchContainer_content input {
  width: 100%;
  border: none;
  background: transparent;
  border-right: .2rem solid var(--white);
  color: var(--white);
  margin: 0.1rem 2rem 0.1rem 2rem;
  font-family:'Bebas Neue', cursive;
}

/* MAIN */
.header-arrow {
  margin: 1.4rem 0 0 1.4rem;
  height: 2rem;
  font-size: 2rem;
  cursor: pointer;
  display: inline-block;
  color: var(--white);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CATEGORIES */
#categories {
  width: 100vw;
  height: 10rem;
  margin-top: 2rem;
}

.categories_titles {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

#categories_titles-h2 {
  color: var(--white);
} 

#categories_titles-span {
  color: var(--red);
} 

.categories_sections {
  width: 100vw;
  height: 8rem;
  margin-top: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.categories-content {
  width: 8rem;
  height: 6rem;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 1rem;
  border: .1rem solid var(--red);
  -webkit-box-shadow: 0px 0px 8px 2px rgba(141,74,64,1);
  -moz-box-shadow: 0px 0px 8px 2px rgba(141,74,64,1);
  box-shadow: 0px 0px 8px 2px rgba(141,74,64,1);
  background-color: var(--black2);
  overflow: hidden;
}

.categories_content-h3 {
  font-size: 2rem;
  text-align: center;
}

.categories-content-h2 {
  font-size: 2rem;
  text-align: center;
}

.categories_content-span {
  text-align: center;
  color: var(--white);
  font-family: 'Unica One', cursive;
}

.categories-emoji {
  width: 100%;
  height: 2rem;
  display: inline-block;
}

/* FAVORITED */

/* TRENDING */
.trendingContainer, .favorited-container {
  width: 100vw;
  height: 56rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.trendingContainer_div-title {
  color: var(--white);
}

.categories_titles button {
  color: var(--red);
  background: none;
  border: none;
  font-family: 'Bebas Neue', cursive;
  font-size: 1rem;
} 

.movieContent, .favoritedContent  {
  width: 100vw;
  height: 56rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.movie-container{
  display: inline-block;
  height: auto;
  position: relative;
}

.movie-btn {
  background-color: var(--gray);
  position: absolute;
  top: .8rem;
  right: 1.2rem;
  height: 4rem;
  width: 4rem;
  border-radius: 3rem;
  padding: 0;
  margin: 0;
}

.movie-btn::before {
  content: '🤍';
}

.movie-btn--favorited {
  background-color: white;
}

.movie-btn--favorited::before {
  content: '❤️';
}

.movie-img {
  height: 88%;
  min-height: 45rem;
  width: 100%;
  min-width: 30rem;
  padding: 1.4rem;
  border-radius: 4rem;
}

/* TOP RATED */
.TopRated-movieContent {
  width: 100vw;
  height: 50rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


/* NEWS MOVIES */
.newMovieContainer {
  width: 100vw;
  height: 22rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

/* GENERAL */
.generalContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.trendingContainer_movie_div {
  width: 100%;
  margin: 1rem 1rem;
  height: 12rem;
  width: 8rem;
}

/* DETAIL */
.MovieDetailContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.categories_titles--detail {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: .5fr 2fr;
  align-items: stretch;
  padding: .8rem;
}

.categories_titles--detail-title{
  color: var(--white);
  font-size: 1.8rem;
  grid-column: 1/4;
  grid-row: 1/3;
  text-align: start;
  margin-top: .8rem;
}

.categories_titles--detail-span {
  color: var(--red);
  font-size: 1.8rem;
  margin-top: .8rem;
  text-align: start;
}

.categories_titles--detail-description {
  color: var(--white);
  grid-column:1/5 ;
  grid-row: 2/4;
  text-align: justify;
  margin-top: .8rem;
  font-family: 'Unica One', cursive;
  margin-bottom: 3rem;
}

.movieDetail_categories {
  width: 100vw;
  height: 8rem;
  margin-top: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* RELATED - SIMILAR */

.relatedContainer {
  margin-top: .4rem;
}

.similar-movieContent {
  width: 90vw;
  height: 90vh;
  margin-top: .5rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

/* LOADING */
.categories-content--loading {
  background: var(--gray);
  width: 8rem;
  height: 6rem;
  display: inline-block;
  margin: 0 1rem;
  border-radius: 1rem;
  animation: loading-skeleton infinite 1.5s;
}

.movie-container--loading, .trendingContainer_movie_div--loading, .similar-movieContent--loading {
  background: var(--gray);
  border-radius: .4rem;
  height: 80%;
  width: 80%;
  margin: 1.4rem;
  border-radius: 2rem;
  animation: loading-skeleton infinite 1.5s;
}

.categories_titles--detail-title--loading {
  background: var();
  width: 100%;
  height: 100%;
  animation: loading-skeleton infinite 1.5s;
}

.categories_titles--detail-span--loading {
  animation: loading-skeleton infinite 1.5s;
}

.categories_titles--detail-description--loading {
  animation: loading-skeleton infinite 1.5s;
}



/* FOOTER */
footer {
  width: 100%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--red);
}

.footer_left {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_left i {
  padding-left: 1rem;
  font-size: 1.4rem;
}

.footer_right {
  width: 100%;
  font-size: 1.4rem;
}

/* INACTIVE */
.inactive {
  display: none;
}

/* ANIMATIONS */
@keyframes loading-skeleton {
  0%, 100% {
    opacity: 100%;
  }
  50% {
    opacity: 0%;
  }
}